@import "tailwindcss";

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1.5px #ff7f11; /* تخفيف سمك الخط */
    text-shadow: 0 0 6px #ff7f11, /* تقليل التوهج */ 0 0 8px #ff7f11,
      0 0 12px #ff7f11;
    color: transparent; /* نص شفاف علشان يظهر الـ stroke فقط */
  }
}
